.App {
  text-align: center;
}

.caller-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.caller__1, .caller__2, .caller__3, .caller__4 {
    width: 500px;
    height: initial;
    border: 1px solid black;
    background-color: blueviolet;
}

